@media screen and (max-width: 480px){
  .logo{
    width: 60%;
    float: none !important;
    margin: auto;
  }

  nav{
    margin: 0px;
    width: 100%;
    display: none;
  }

  nav ul .selector{
    display: block;
    text-align: center;
    padding: 10px 0px;
    border-bottom: .5px solid rgba(0,0,0,0.5);
  }

  .op-menu{
    text-align: center;
    padding-bottom: 10px;
    cursor: pointer;
    display: block;
  }

  .seccion1{
  }

  .text-dise-nosotros{
    font-size: 25px;
    font-weight: bold;
  }

  .text-nosotros{
    margin-top: 20px;
    text-align: justify;
  }

  .margen-arriba{
    margin-top: 20px;
  }

  .text-alineado{
    text-align: justify;
    margin-bottom: 40px;
  }

  /*.imagen{
    border: 2px solid red;
  }*/

  .imagen img{
    width: 80px;
  }

  .text-subtit{
    margin: 20px 0px;
    font-size: 16px;
    font-weight: bold;
  }

  #panel h3{
    text-align: center;
  }

  .banner2, .banner3{
    display: none;
  }

  footer p{
    margin-top: 10px;
    width: 90%;
    font-size: 16px;
  }
}

@media screen and (max-width: 599px) and (min-width: 481px) {
  .logo{
    width: 40%;
    float: none !important;
    margin: auto;
  }

  nav{
    margin: 0px;
    width: 100%;
    display: none;
  }

  nav ul .selector{
    display: block;
    text-align: center;
    padding: 10px 0px;
    border-bottom: .5px solid rgba(0,0,0,0.5);
  }

  .op-menu{
    text-align: center;
    padding-bottom: 10px;
    cursor: pointer;
    display: block;
  }

  .seccion1{
  }

  .text-dise-nosotros{
    font-size: 25px;
    font-weight: bold;
  }

  .text-nosotros{
    margin-top: 20px;
    text-align: justify;
  }

  .margen-arriba{
    margin-top: 20px;
  }

  .text-alineado{
    text-align: justify;
    margin-bottom: 40px;
  }

  /*.imagen{
    border: 2px solid red;
  }*/

  .imagen img{
    width: 80px;
  }

  .text-subtit{
    margin: 20px 0px;
    font-size: 16px;
    font-weight: bold;
  }

  #panel h3{
    text-align: center;
  }

  .banner2, .banner3{
    display: none;
  }

  footer p{
    margin-top: 10px;
    width: 90%;
    font-size: 16px;
  }
}

@media screen and (max-width: 799px) and (min-width: 600px) {
  .logo{
    width: 30%;
    float: none !important;
    margin: auto;
  }


  nav{
    margin: 0px;
    width: 100%;
    display: none;
  }

  nav ul .selector{
    display: block;
    text-align: center;
    padding: 10px 0px;
    border-bottom: .5px solid rgba(0,0,0,0.5);
  }

  .op-menu{
    text-align: center;
    padding-bottom: 10px;
    cursor: pointer;
    display: block;
  }

  .text-alineado{
    text-align: justify;
    margin-bottom: 40px;
  }
  
  .banner2, .banner3{
    display: none;
  }
}

@media screen and (max-width: 1023px) and (min-width: 800px) {
  .text-alineado{
    text-align: justify;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {      /* mac*/
}
@media screen and (max-width: 1366px) and (min-width: 1024px) { }

@media screen and (min-width: 1367px) { }
