header{
	/*border: 2px red solid;*/
	overflow: hidden;
	width: 100%;
	background-color: #e5e3e2;
}
.logo{
	width: 20%;
	margin-left: 5%;
}
nav{
	/*border: 2px red solid;*/
	margin-right: 5%;
	margin-top: 5%;
}
nav ul{
	/*border: 2px green solid;*/
	padding: 20px;
}
nav ul .selector{
	/*border: 2px yellow solid;*/
	padding: 20px;
	text-decoration: none;
	color: #8B1815;
	font-family: 'Montserrat', sans-serif;
}
.selector:hover{
	color: #D0103C;
}
#select{
	color: #000;
}

.op-menu{
    display: none;
}

.banner{
  /*outline: 2px red solid;*/
  /*margin-top: 1%;*/
   position: relative;
   width: 100%;
    /*height: 407px;*/
    height:215px;
    background: url('../img/banner.jpg') center;
    background-size: cover;
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    overflow: hidden;
}
.banner2{
  /*outline: 2px red solid;*/
  /*margin-top: 1%;*/
   position: relative;
   width: 100%;
    /*height: 407px;*/
    height:315px;
    background: url('../img/slide5.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
.banner3{
  /*outline: 2px red solid;*/
  /*margin-top: 1%;*/
   position: relative;
   width: 100%;
    /*height: 407px;*/
    height:315px;
    background: url('../img/hola.png');
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    overflow: hidden;
}
.seccion1{
	width: 100%;
	overflow: hidden;
	/*border: 2px red solid;*/
	padding: 2% 0% 0% 0%;
}
.iconos{
	text-align: center;
}
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-danger.btn-outline {
  font-family: 'Montserrat', sans-serif;
  color: #D43F3A;
}

.btn-danger.btn-outline:hover {
    color: #fff;
}
.seccion2{
	width: 100%;
	overflow: hidden;
	/*border: 2px red solid;*/
	padding: 9% 0% 9% 0%;
	background-color: #e5e3e2;
}
.seccion3{
	width: 100%;
	overflow: hidden;
	/*border: 2px red solid;*/
	padding: 0% 0% 3% 0%;
}
.imagen img{
	margin: 0 auto;
}
.mapa{
	width: 100%;
	overflow: hidden;
}
.mapa iframe{
	width: 100%;
}

.text-nosotros{
    margin-top: 60px;
}

.margen-arriba{
    margin-top: 60px;
}

/*--------------FOOTER----------*/
footer{
  width: 100%;
  background:#000000;
  font-family: 'Montserrat', sans-serif;
  height: 100px;
  /*font-size: 20px;*/
  overflow: hidden;
  clear: both;

}
footer p{
  /*border: 2px red solid;*/
    width: 65%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    margin-top: 2.5%;
    color: #fff;
}

/* form starting stylings ------------------------------- */

.container1{
	/*border: 2px red solid;*/
	overflow: hidden;
}
.group {
    position: relative;
    margin-bottom: 35px;
}

input {
    font-size: 18px;
    padding: 5px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
}

    input:focus {
        outline: none;
    }

/* LABEL ======================================= */
label {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #fff;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 100%;
}

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #fff;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }



/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #fff;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #fff;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #fff;
    }

    to {
        width: 0;
        background: transparent;
    }
}


#panel {
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: -webkit-linear-gradient(90deg, #8B1815 0%, #D0103C 100%);
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, #8B1815 0%, #D0103C 100%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, #8B1815 0%, #D0103C 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #8B1815 0%, #D0103C 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, #8B1815 0%, #D0103C 100%); /* Standard syntax (must be last) */
    border-radius: 4px;
    /*top: 50px;*/
}

.ir-arriba {
	display:none;
	padding:20px;
	background:#8B1815;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
	z-index: 100;
}